
.home-main-container{
    min-height: 100vh;
    width: 100%;
    min-width: 360px;
}

.home-container{
    width: 100%;
}
@media screen and (min-width:768px) {
    .home-container{
        padding: 0px 50px;
    }
}


.indicate-nav-container{
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
}
@media screen and (min-width:768px) {
    .indicate-nav-container{
        display: none;
    }
}

.indicate-home-item{
    font-size: 12px;
    border-right: solid rgba(133, 133, 133, 0.671) 1px;
    padding-right: 12px;
    font-weight: 500;
}
.indicate-shop-item{
    font-size: 12px;
    padding-left: 12px;
    font-weight: 500;
}

.home-heading-and-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px ;
    width: 100%;
}

.home-heading{
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
    font-weight: 500;
}
@media screen and (min-width:768px) {
    .home-heading{
        font-size: 30px;
        margin-top: 50px;
    }
}

.home-description{
    margin-top: 5px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  max-width: 370px;

}
@media screen and (min-width:768px) {
    .home-description{
        font-size: 16px;
        line-height: 35px;
        max-width: 550px;
    }
}

.small-device-filters-section-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid rgba(128, 128, 128, 0.603) 1px;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin-top: 5px;
}
@media screen and (min-width: 768px) {
    .small-device-filters-section-container{
      display: none;
    }
  }

.large-device-filters-section-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid rgba(128, 128, 128, 0.603) 1px;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin-top: 5px;
}
@media screen and (max-width: 767px) {
    .large-device-filters-section-container{
      display: none;
    }
  }

.filter-heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    border-right:solid rgba(128, 128, 128, 0.603) 1px;  
}
.filter-heading-button{
    font-size: 14px;
    cursor: pointer; 
    text-align: center;
    margin: 0;
    padding: 5px;
}
.arrow-icons{
    animation: rotateAnimation 0.5s ease forwards;
}

.filter-select-container{
    width: 50%;
    justify-self: center;
    align-self: center;
    text-align: center;
}
@media screen and (min-width:768px){
    .filter-select-container{
        text-align: end;
    }
}

.filter-select{
    margin: 0;
    font-size: 13px;
    border: none;
    outline: none;
    max-width:150px ;
    font-weight: 600;
    background-color: white;
}

.filter-option{
    font-size: 13px;
    background-color: #ffffff;
    border: none;
}

.filter-section-container{
    display: flex;
    align-items: center;
}

.filter-item-count{
    font-size: 15px;
    font-weight: 600;
    margin-right: 30px;
}

.showFilter-heading-container{
    display: flex;
    align-items: center;
}
.showFilter-heading{
    color: gray;
    font-size: 15px;
    text-decoration: underline;
}

.filter-and-product-section-container{
    width: 100%;
}
@media screen and (min-width: 768px) {
    .filter-and-product-section-container{
        display: flex;
    }
}

.filter-items-main-container{
    width: 200px;
    animation: fadeInDown 0.5s ease forwards;
}
@media screen and (min-width: 768px) {
    .filter-items-main-container{
        width: 30%;
        max-width: 230px;
    }
}


.filter-items-container{
    padding: 0px 20px;
    position: fixed;
    background-color: white;
    margin-top: 0px;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .filter-items-container{
        position: relative;
    }
}


.not-display-filter-items-conntainer{
    margin: 0;
    width: 200px;
    animation: fadeInUp 0.5s ease forwards;
}
@media screen and (min-width: 768px) {
    .not-display-filter-items-conntainer{
        width: 30%;
        max-width: 230px;
    }
}


.filter-item-checkbox{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 11px 0px;
    border-bottom:solid rgba(128, 128, 128, 0.178) 1px;   
    cursor: pointer;
    width: 100%;
}

.filter-label{
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.filter-item{
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    padding: 11px 0px;
    border-bottom:solid rgba(128, 128, 128, 0.178) 1px;   
    cursor: pointer;
    width: 100%;
}
