
/* ==== Header Route Section*/


.header-route-container{
    padding: 10px 15px;
    border-bottom: solid rgba(128, 128, 128, 0.466) 1px;
    width: 100%;
}
@media screen and (min-width: 768px) {
  .header-route-container{
    padding: 10px 40px;
  }
}


/* ==== SMALL DEVICE ~ Header Section Styles */


.small-device-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 360px;
}
@media screen and (min-width: 768px) {
  .small-device-header-container{
    display: none;
  }
}

.small-device-bottom-header-container{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media screen and (min-width: 768px) {
  .small-device-bottom-header-container{
    display: none;
  }
}


/* ==== LARGE DEVICE ~ Header Section Styles */

.large-device-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .large-device-header-container{
    display: none;
  }
}

.large-device-bottom-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
.large-device-bottom-header-container{
  display: none;
}
}


/* ==== SMALL AND LARGE DEVICE Similar Styles ~ Header Section Styles */

.logo-container{
  display: flex;
  align-items: center;
  width: 33%;
  flex-grow: 1;
}

.cross-mark-icon{
  animation: rotateAnimation 0.5s ease forwards;
}

.nav-bar-icon{
  animation: rotateAnimation 0.5s ease forwards;
}

.website-logo{
  margin-left: 15px;
}

@media screen and (max-width: 768px){
  .website-logo{
    width: 18px;
  }
}

.nav-link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.website-name-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  flex-grow: 1;
}
.website-name{
  margin: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  min-width: 100px;
  letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
  .website-name{
    font-size: 20px;
  }
}

.nav-items-container{
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
  flex-grow: 1;
}

.nav-item{
  padding: 0px 7px;
  list-style: none;
  
}

.language-select{
  border: none;
  outline: none;
  padding: 0px;
  font-weight: 600;
}

.navigation-items-container{
  padding: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 450px;
  animation: fadeInDown 0.5s ease forwards;
}


.not-display-navigation-items-container{
  padding: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 450px;
  animation: fadeInUp 0.5s ease forwards;
}


.navigation-item {
  list-style: none;
  padding: 5px;
  font-size: 15px;
  width: 20%;
  text-wrap: nowrap;
  font-weight: 500;
}  

@media screen and (max-width: 768px){
  .navigation-item{
    font-size: 12px;
  }
}


/* Define the animation */

@keyframes rotateAnimation{
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  
  50%{
     transform: rotate(180deg);
     opacity: 0;
  }
  100%{
    transform: rotate(0deg);
    opacity: 1;
 }
}


@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-25px);
    }
    100%{
       opacity: 1;
       transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    
    100%{
       opacity: 0;
       transform: translateY(-20px);
       display: none;
    }
  }